# File: .env
# Qroq API keys
GROQ_API_KEY_1=
GROQ_API_KEY_2=

# Cloudflare configuration 
CF_ACCOUNT_ID=
CF_AUTH_TOKEN=
CF_MODEL=@cf/openai/gpt-oss-120b
CF_OUTPUT_TOKENS=32000

# gemini API key
GEMINI_API_KEY=

# mistral API key
MISTRAL_API_KEY=

# vertex AI credentials
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
PROJECT_ID=e-tafakna-380117
LOCATION=us-central1
MODEL=gemini-2.5-flash

#openAI API key
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://modelsetafakna.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT=gpt-4.1
AZURE_OPENAI_API_VERSION=2024-12-01-preview